name: "Test"

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'

env:
  NEW_RELIC_ACCOUNT_ID: ${{ secrets.NEW_RELIC_ACCOUNT_ID }}
  NEW_RELIC_API_KEY: ${{ secrets.NEW_RELIC_API_KEY }}
  NEW_RELIC_REGION: ${{ vars.NEW_RELIC_REGION }}

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"

      - run: terraform fmt -check

      - run: terraform init && terraform validate

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TF_INPUT: false
    steps:
      - uses: actions/checkout@v5

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"

      - run: terraform init && terraform test
        working-directory: ./modules/alert-policies

      - run: terraform init && terraform test
        working-directory: ./modules/alert-notifications

      - run: terraform init && terraform test
        working-directory: ./modules/dashboards

      - run: terraform init && terraform test
        working-directory: ./modules/synthetic-monitors

      - run: terraform init && terraform test
        working-directory: ./modules/account-management